# Pliki binarne i katalog build
*.class
*.jar
*.war
*.zip
*.o
*.a
*.so
.scala-build/
.bsp/
build/
*.cmi
*.cmx

# Konfiguracja IDE:
.idea/
*.iml
.vscode/

# Pliki systemowe
.DS_Store
Thumbs.db

# Logi i pliki tymczasowe
logs/
tmp/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
.scala-build/
.bsp/
.RData
.Rhistory
.metals/
